<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Materials</title>
</head>
<body>

<nav>
<a href="/">Home</a>
<a href="/materials">Inventory</a>
<a href="/materials/new">Sell</a>

</nav>

<%= yield %>

</body>
</html>
