<h1>Upload Products</h1>

<form action="/materials" method="post">

  <label>
    Product Name:
      <input name="product_name" placeholder="Screws..." required>
  </label>

  <<label>
    Description
      <input name="description" placeholder="This item is...">
  </label>
  <<label>
    Price
      <input type="number" name="Price" placeholder="This item is...">
  </label>

  <<label>
    Quantity
      <input type="number" name="quantity" placeholder="0000">
  </label>

  <label>
    Image:
      <input type="url" name="image" placeholder="http://...">
  </label>

  <<label>
    Location
      <input name="location" placeholder="City">
  </label>

  <button>Create Product Listing</button>
</form>
