<h1>New Battle Information</h1>

<form action="/battles" method="post">
<div>
  <label>
    Name of Battle:
    <input name="name" placeholder="Battle">
  </label>
</div>

<div>
  <label>
    Name of Theatre:
    <input name="theatre" placeholder="Theatre">
  </label>
</div>

<div>
  <label>
    Location of Battle:
    <input name="location" placeholder="Location">
  </label>
</div>

<div>
  <label>
    Battle Result:
    <input name="battle" placeholder="Result">
  </label>
</div>

<div>
  <label>
    Start of Battle:
    <input name="start_date" type="date" placeholder="Date">
  </label>
</div>

<div>
  <label>
    End of Battle:
    <input name="end_date" type="date" placeholder="Date">
  </label>
</div>
<div>
  <label>
    Battle Description:
    <input name="description" placeholder="Description">
  </label>
</div>
<div>
  <label>
    Image:
    <input name="image" type="text" placeholder="Image">
  </label>
</div>

<button> Upload Battle</button>

</form>
