<h1>New Leaders Information</h1>

<form action="/leaders" method="post">
<div>
  <label>
    Rank:
    <input name="title" type="text" placeholder="General">
  </label>
</div>

<div>
  <label>
    First Name:
    <input name="first_name" type="text" placeholder="John">
  </label>
</div>

<div>
  <label>
    Surname:
    <input name="surname" type="text" placeholder="Smith">
  </label>
</div>

<div>
  <label>
    Leaders Country:
    <input name="country" type="text" placeholder="France">
  </label>
</div>

<div>
  <label>
    Also Known As:
    <input name="aka" type="text" placeholder="The ..." >
  </label>
</div>

<div>
  <label>
    Leader Description:
    <input name="description" type="text" placeholder="Description">
  </label>
</div>

<div>
  <label>
    Image:
    <input name="image" type="text" placeholder="Image">
  </label>
</div>

<button>Update Leader</button>

</form>
